################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Code/Pictionnary/Pictionnary/obj/Debug/TempPE/Resources.Words.Designer.cs.dll
